<custom-masonry *ngIf="university.faculties"></custom-masonry>
<custom-loader *ngIf="loading"></custom-loader>
<div *ngIf="!university.faculties">no faculties to show</div>
<div class="content university-list" *ngIf="university.faculties">
	<div class="structure-inder">
		<div class="row">
			<div *ngFor="let faculty of university.faculties" class="col-lg-4 col=-md-4 col-sm-6 col-xs-12 structure-inder-block">
				<ul>
					<li class="lessons-head">
						<h3>F</h3>
					</li>
					<li>
						<p>{{faculty.name | translate: currentLang }}</p>
						<p>{{faculty.director | translate: currentLang }}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>