<custom-header></custom-header>
<!--<custom-jquery></custom-jquery>-->
<!-- main content -->
<main class="main-content" *ngIf="student">
	<div class="main-profile-container container">
		<div class="top-profile">
			<student-header 
				[student]='student'
				[university]='university'
				[currentState]='currentState'
				></student-header>
			<div class="profile-main-nav">
				<a href="#" class="nav-btn active-btn" 
				(click)="goto('about'); false" 
				[class.active-btn]="
				currentState == 'about' || 
				currentState == 'bio' || 
				currentState == 'contact' || 
				currentState == 'docs' || 
				currentState == 'main-info'">Haqqinda</a>
				<a href="#" class="nav-btn" 
				(click)="goto('tedris'); false"
				[class.active-btn]="
				currentState == 'tedris' || 
				currentState == 'plan' || 
				currentState == 'grades'">Tədris</a>
			</div>
		</div>
		<div class="bottom-section">
			<div class="row">
				<div *ngIf="currentState=='about'">
					<student-about 
						[student]='student'
						[currentLang]="currentLang"
						></student-about>			
				</div>
				<div *ngIf="currentState=='tedris'">
					<student-tedris 
					[student]='student'
					[currentLang]="currentLang"
					></student-tedris>		
				</div>
			</div>
		</div>
	</div>
</main>

