<!-- members -->
<div class="container">
	<div class="members-tables st-block-style">
		<div class="members-tables-blocks">
			<div class="more-btn">
				<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

				<!-- more-icon popup -->
				<div id="more-icon-in-block-1" class="popup more-icon-popup">
					<div class="popup-content">
						<ul class="icons-list">
							<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
							<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
							<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
						</ul>
					</div>
				</div>
				<!-- popup end -->
			</div>
			<div class="members-table-img"><img src="img/user1.png" alt=""></div>
			<div class="members-table-text"><p>Bewely hovell</p><p>kompyuter muhendisliyi</p></div>
		</div>
	</div>

	<div class="members-tables st-block-style">
		<div class="members-tables-blocks">
			<div class="more-btn">
				<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

				<!-- more-icon popup -->
				<div id="more-icon-in-block-1" class="popup more-icon-popup">
					<div class="popup-content">
						<ul class="icons-list">
							<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
							<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
							<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
						</ul>
					</div>
				</div>
				<!-- popup end -->
			</div>
			<div class="members-table-img"><img src="img/user1.png" alt=""></div>
			<div class="members-table-text"><p>Bewely hovell</p><p>kompyuter muhendisliyi</p></div>
		</div>
	</div>

	<div class="members-tables st-block-style">
		<div class="members-tables-blocks">
			<div class="more-btn">
				<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

				<!-- more-icon popup -->
				<div id="more-icon-in-block-1" class="popup more-icon-popup">
					<div class="popup-content">
						<ul class="icons-list">
							<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
							<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
							<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
						</ul>
					</div>
				</div>
				<!-- popup end -->
			</div>
			<div class="members-table-img"><img src="img/user1.png" alt=""></div>
			<div class="members-table-text"><p>Bewely hovell</p><p>kompyuter muhendisliyi</p></div>
		</div>
	</div>

	<div class="members-tables st-block-style">
		<div class="members-tables-blocks">
			<div class="more-btn">
				<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

				<!-- more-icon popup -->
				<div id="more-icon-in-block-1" class="popup more-icon-popup">
					<div class="popup-content">
						<ul class="icons-list">
							<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
							<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
							<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
						</ul>
					</div>
				</div>
				<!-- popup end -->
			</div>
			<div class="members-table-img"><img src="img/user1.png" alt=""></div>
			<div class="members-table-text"><p>Bewely hovell</p><p>kompyuter muhendisliyi</p></div>
		</div>
	</div>

	<div class="members-tables st-block-style">
		<div class="members-tables-blocks">
			<div class="more-btn">
				<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

				<!-- more-icon popup -->
				<div id="more-icon-in-block-1" class="popup more-icon-popup">
					<div class="popup-content">
						<ul class="icons-list">
							<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
							<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
							<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
						</ul>
					</div>
				</div>
				<!-- popup end -->
			</div>
			<div class="members-table-img"><img src="img/user1.png" alt=""></div>
			<div class="members-table-text"><p>Bewely hovell</p><p>kompyuter muhendisliyi</p></div>
		</div>
	</div>

	<div class="members-tables st-block-style">
		<div class="members-tables-blocks">
			<div class="more-btn">
				<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

				<!-- more-icon popup -->
				<div id="more-icon-in-block-1" class="popup more-icon-popup">
					<div class="popup-content">
						<ul class="icons-list">
							<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
							<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
							<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
						</ul>
					</div>
				</div>
				<!-- popup end -->
			</div>
			<div class="members-table-img"><img src="img/user1.png" alt=""></div>
			<div class="members-table-text"><p>Bewely hovell</p><p>kompyuter muhendisliyi</p></div>
		</div>
	</div>
</div>