<div class="container">
	<div class="row meetings-row">
		<div class="grid grid-3">
			<div class="grid-sizer"></div>
			<div class="grid-item">
				<div class="st-block-style meetings-block">
					<div class="meetings-files-top">
						<div class="more-btn">
							<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

							<!-- more-icon popup -->
							<div id="more-icon-in-block-1" class="popup more-icon-popup">
								<div class="popup-content">
									<ul class="icons-list">
										<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
										<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
										<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
									</ul>
								</div>
							</div>
							<!-- popup end -->
						</div>
						<h5>Movzunun adi</h5>
					</div>
					<div class="meetings-files-bottom">
						<img class="meetings-doc-icon" src="img/doc.svg" alt="">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui.</p>
					</div>
				</div>
			</div>
			<div class="grid-item">
				<div class="st-block-style meetings-block">
					<div class="meetings-files-top">
						<div class="more-btn">
							<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

							<!-- more-icon popup -->
							<div id="more-icon-in-block-1" class="popup more-icon-popup">
								<div class="popup-content">
									<ul class="icons-list">
										<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
										<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
										<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
									</ul>
								</div>
							</div>
							<!-- popup end -->
						</div>
						<h5>Movzunun adi</h5>
					</div>
					<div class="meetings-files-bottom">
						<img class="meetings-doc-icon" src="img/doc.svg" alt="">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem odio quae praesentium magni natus sed placeat suscipit earum, eius ipsum rem fuga quia labore qui, fugiat, aperiam doloribus reprehenderit deserunt.</p>
					</div>
				</div>
			</div>
			<div class="grid-item">
				<div class="st-block-style meetings-block">
					<div class="meetings-files-top">
						<div class="more-btn">
							<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

							<!-- more-icon popup -->
							<div id="more-icon-in-block-1" class="popup more-icon-popup">
								<div class="popup-content">
									<ul class="icons-list">
										<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
										<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
										<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
									</ul>
								</div>
							</div>
							<!-- popup end -->
						</div>
						<h5>Movzunun adi</h5>
					</div>
					<div class="meetings-files-bottom">
						<img class="meetings-doc-icon" src="img/doc.svg" alt="">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta magnam error ipsum quia quidem! Consectetur saepe quos quae tenetur reiciendis velit molestias harum, dignissimos, minus mollitia, debitis. Alias, iste ullam odio, eaque pariatur, odit optio maxime modi labore sit impedit.</p>
					</div>
				</div>
			</div>
			<div class="grid-item">
				<div class="st-block-style meetings-block">
					<div class="meetings-files-top">
						<div class="more-btn">
							<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

							<!-- more-icon popup -->
							<div id="more-icon-in-block-1" class="popup more-icon-popup">
								<div class="popup-content">
									<ul class="icons-list">
										<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
										<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
										<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
									</ul>
								</div>
							</div>
							<!-- popup end -->
						</div>
						<h5>Movzunun adi</h5>
					</div>
					<div class="meetings-files-bottom">
						<img class="meetings-doc-icon" src="img/doc.svg" alt="">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui.</p>
					</div>
				</div>
			</div>
			<div class="grid-item">
				<div class="st-block-style meetings-block">
					<div class="meetings-files-top">
						<div class="more-btn">
							<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

							<!-- more-icon popup -->
							<div id="more-icon-in-block-1" class="popup more-icon-popup">
								<div class="popup-content">
									<ul class="icons-list">
										<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
										<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
										<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
									</ul>
								</div>
							</div>
							<!-- popup end -->
						</div>
						<h5>Movzunun adi</h5>
					</div>
					<div class="meetings-files-bottom">
						<img class="meetings-doc-icon" src="img/doc.svg" alt="">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
