<!-- custom jquery -->
<!--<custom-jquery></custom-jquery>-->
<!-- Aside -->
<div class="aside-block">
	<img [src]="university.imgUrl" default="assets/images/university-default.jpeg" class="aside-content-image" alt="">
	<h4 class="aside-content-header-title">
		{{university.name}}
	</h4>
</div>

<ul class="aside-block" *ngIf="currentState =='students-list' || currentState == 'teachers-list'" >
	<li class="simple-btn">Umumi telebelerin sayi<span class="aside-block-spn">{{university.studentCount}}</span></li>
	<li class="simple-btn">Bu il qebul olanlar <span class="aside-block-spn">{{university.freshmanCount}}</span></li>
	<li class="simple-btn">Əyani tələbəlırin sayrı <span class="aside-block-spn">{{university.onCampusCount}}</span></li>
	<li class="simple-btn">Qiyabi tələbəlırin sayrı <span class="aside-block-spn">{{university.offCampusCount}}</span></li>
</ul>
<div class="aside-block">
	<!--
	<div class="checkbox">
		<label>
			<input type=heckbox" name="isActive" [(ngModel)]="user.isActive">
		Is Active
		</label>
	</div>-->
	<a class="simple-btn" (click)="filterTeachersBy('grade', 'bakalavr'); false" [class.active-btn]="currentFilter == 'bakalavr'" *ngFor="let subModule of subModules">{{subModule.name}}</a>
<!--
	<a class="simple-btn" (click)="filterTeachersBy('grade', 'bakalavr'); false" [class.active-btn]="currentFilter == 'bakalavr'">Bakalavr</a>
	<a class="simple-btn" (click)="filterTeachersBy('grade', 'magistr'); false" [class.active-btn]="currentFilter == 'magistr'">Magistr</a>
	<a class="simple-btn" (click)="filterTeachersBy('grade', 'doktorant'); false" [class.active-btn]="currentFilter == 'doktorant'">Doktorant</a>-->
</div>
<!--
	// not sure if we will need these filters
<div class="aside-block checkbox-slide" *ngIf="currentState =='students-list' || currentState == 'teachers-list'">
	<label class="switch" (click)="toggleMale()">
		<div class="label-title">Kişi</div>
		<input type="checkbox" name="gender" value="male" checked="maleChecked">
		<div class="slider round"></div>
	</label>
	<label class="switch" (click)="toggleFemale()">
		<div class="label-title">Qadın</div>
		<input type="checkbox" name="gender" value="female" checked="femaleChecked">
		<div class="slider round"></div>
	</label>

	<select name="studyTypeFilter" #sel (change)="onChange(sel.value)" id="studyTypeFilter" class="custom-select studyTypeFilter" placeholder="Əyani və ya qiyabi" *ngIf="currentState =='students-list'">
		<option value="profile">Hər ikisi</option>
		<option value="profile">Əyani</option>
		<option value="word">Qiyabi</option>
	</select>
</div>	-->
<!-- End Aside -->