<div class="blocks-grid">	
	<div class="grid-item">
		<div class="adress-info-left">
			<ul>
				<li class="info-head">Unvan</li>
				<hr class="har">
				<li class="info-head">Anadan oldugu unvan <p>{{teacher.birthAddress | translate: currentLang }}</p></li>
				<hr class="har">
				<li class="info-head">Daimi yashadigi unvan<p>{{teacher.currentAddress | translate: currentLang }}</p></li>
				<hr class="har">
				<li class="info-head">Muveqqeti yashadigi unvan<p>{{teacher.temporaryAddress | translate: currentLang }}</p></li>
			</ul>
		</div>
	</div>
<!-- part of contacts
	<div class="grid-item">
		<div class="mob-info">
			<ul>
				<li class="info-head">Ev ve mobil telefonleri</li>
				<div *ngFor="let number of teacher.phoneNumbers">
					<hr class="har">
					<li>{{number}}</li>
				</div>
			</ul>
		</div>
	</div>
-->
	<div class="grid-item">
		<div class="adress-info-right">
			<ul>
				<li class="info-head">Elaqe</li>
				<hr class="har">
				<li class="info-head" *ngFor="let contact of contacts">{{contact.name | translate: currentLang }} <p>{{contact.address | translate: currentLang }}</p></li>
				<hr class="har">
			</ul>
		</div>
	</div>
</div>