<div class="blocks-grid">
	<div class="grid-item">
		<div class="special-info">
			<ul>
				<li class="info-head">Umumi melumat</li>
				<hr class="har">
				<li>Telebe nomresi</li>
				<li class="second-text">{{student.id}}</li>
				<hr class="har">
				<li>Dogum tarixi</li>
				<li class="second-text">{{student.birthday}}</li>
				<hr class="har">
				<li>Cins</li>
				<li class="second-text">{{student.gender | translate: currentLang }}</li>
				<hr class="har">
				<li>Ictimai status</li>
				<li class="second-text">{{student.jobStatus | translate: currentLang }}</li>
				<hr class="har">
				<li>Ixtisas</li>
				<li class="second-text">{{student.profession | translate: currentLang }}}</li>
				<hr class="har">
				<li>Qebul oldugu bal</li>
				<li class="second-text">{{student.admissionScore}}</li>
			</ul>
		</div>
	</div>
	
	<div class="grid-item">
		<div class="family-info">
			<ul>
				<li class="info-head">Aile</li>

				<!--
				<div *ngFor="let parent of student.parents">
					<hr class="har"><div><img src="img/user1.png" alt="">
					</div>
					<li class="info-head-name"><p>{{parent.position}}</p><p>{{parent.name}}</p></li>
				</div>
				-->

				<hr class="har">
				<!-- no image available
				<div><img src="img/user1.png" alt=""></div>-->				<li class="info-head-name"><p>Ata</p><p>Muxtarov Elvin</p></li>

				<hr class="har">
				<!-- no image available
				<div><img src="img/user1.png" alt=""></div>-->				<li class="info-head-name"><p>Ana</p><p>Muxtarova Lamiye</p></li>
			</ul>
		</div>
	</div>
	
	<div class="grid-item">
		<div class="special-info">
			<ul>
				<li class="info-head">Mekteb ve tehsil haqqinda informasiya</li>
				<hr class="har">
											
				<li>Məktəb orta balı</li>
				<li class="second-text">4.82</li>
				<hr class="har">
											
				<li>Məktəbin bitidiyi il</li>
				<li class="second-text">2014</li>
				<hr class="har">
											
				<li>Məktəbin adı</li>
				<li class="second-text">Fizuli adına 15 saylı orta məktəb</li>
				<hr class="har">
											
				<li>Bölmə</li>
				<li class="second-text">Azərbaycan</li>
				<hr class="har">
											
				<li>Təhsil pilləsi</li>
				<li class="second-text">Bakalavr</li>
				<hr class="har">
											
				<li>Təhsil forması</li>
				<li class="second-text">Əyani</li>
				<hr class="har">
											
				<li>Ödəniş növü</li>
				<li class="second-text">Ödənişli</li>
			</ul>
		</div>
	</div>
</div>