<div class="container">
	<div class="journal-add-block st-block-style">
		<div class="journal-add-top-table-text">
			<input type="text" placeholder="Movzunun adını qeyd edin" class="st-input">
		</div>
		<div class="calendar">
			<img src="assets/img/icons/calendar.svg" alt="">
			12.12.2015
		</div>
	</div>

	<div class="journal-table journal-add-block st-block-style">
		<table class="st-table add-table">
			<tr>
				<th>Istirakcilar</th>
				<th>Qiymet</th>
				<th>Qeydler</th>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
			<tr>
				<td>Emily May</td>
				<td><input type="number" class="mark-input st-input"></td>
				<td><input type="text" class="st-input"></td>
			</tr>
		</table>
	</div>
</div>	