<!-- profile main text content -->
<div class="profile-content">
	<div class="profile-content-main-text">
		<h3 >{{teacher.title | translate: currentLang }}</h3>
		<h6>
		{{teacher.bio | translate: currentLang }}
		</h6>
	</div>
	<div class="profile-content-main-img">
		<img [src]="teacher.coverImgUrl" alt="">
	</div>
	<hr>
	<div class="text-bottom" *ngFor="let fact of teacher.history">
 		<h6>{{fact.date | translate: currentLang }}</h6>
		<h6>{{fact.text | translate: currentLang }}</h6>
	</div>
</div>
