<custom-masonry *ngIf="university.specialties"></custom-masonry>
<custom-loader *ngIf="loading"></custom-loader>
<div *ngIf="!university.specialties">no specialties to show</div>
<div class="content university-list">
	<div class="structure-inder">
		<div class="row">
			<div *ngFor="let specialty of university.specialties" class="col-lg-4 col=-md-4 col-sm-6 col-xs-12 structure-inder-block">
				<ul>
					<li class="lessons-head">
						<h3>S</h3>
					</li>
					<li>
						<p>{{specialty.name | translate: currentLang }}</p>
						<p>{{specialty.director | translate: currentLang }}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>