<div class="journal-table st-block-style">
	<table class="st-table">
		<tr>
			<th>Istirakcilar</th>
			<th>Orta qiymet</th>
			<th>Devamiyyet</th>
			<th>Serbest is</th>
			<th>Kurs isi</th>
			<th>Imtahana qeder</th>
			<th>Imtahan</th>
			<th>Yekun bal</th>
			<th>Yekun</th>
		</tr>
		<tr>
			<td>Emily Way</td>
			<td class="middle-mark">6</td>
			<td class="good-mark">9</td>
			<td class="best-mark">10</td>
			<td class="low-mark">2</td>
			<td class="good-mark">45</td>
			<td class="good-mark">41</td>
			<td class="good-mark">86</td>
			<td class="good-mark">B</td>
		</tr>
		<tr>
			<td>Emily Way</td>
			<td class="middle-mark">6</td>
			<td class="good-mark">9</td>
			<td class="best-mark">10</td>
			<td class="low-mark">2</td>
			<td class="good-mark">45</td>
			<td class="good-mark">41</td>
			<td class="good-mark">86</td>
			<td class="good-mark">B</td>
		</tr>
		<tr>
			<td>Emily Way</td>
			<td class="middle-mark">6</td>
			<td class="good-mark">9</td>
			<td class="best-mark">10</td>
			<td class="low-mark">2</td>
			<td class="good-mark">45</td>
			<td class="good-mark">41</td>
			<td class="good-mark">86</td>
			<td class="good-mark">B</td>
		</tr>
		<tr>
			<td>Emily Way</td>
			<td class="middle-mark">6</td>
			<td class="good-mark">9</td>
			<td class="best-mark">10</td>
			<td class="low-mark">2</td>
			<td class="good-mark">45</td>
			<td class="good-mark">41</td>
			<td class="good-mark">86</td>
			<td class="good-mark">B</td>
		</tr>
		<tr>
			<td>Emily Way</td>
			<td class="middle-mark">6</td>
			<td class="good-mark">9</td>
			<td class="best-mark">10</td>
			<td class="low-mark">2</td>
			<td class="good-mark">45</td>
			<td class="good-mark">41</td>
			<td class="good-mark">86</td>
			<td class="good-mark">B</td>
		</tr>
		<tr>
			<td>Emily Way</td>
			<td class="middle-mark">6</td>
			<td class="good-mark">9</td>
			<td class="best-mark">10</td>
			<td class="low-mark">2</td>
			<td class="good-mark">45</td>
			<td class="good-mark">41</td>
			<td class="good-mark">86</td>
			<td class="good-mark">B</td>
		</tr>
		<tr>
			<td>Emily Way</td>
			<td class="middle-mark">6</td>
			<td class="good-mark">9</td>
			<td class="best-mark">10</td>
			<td class="low-mark">2</td>
			<td class="good-mark">45</td>
			<td class="good-mark">41</td>
			<td class="good-mark">86</td>
			<td class="good-mark">B</td>
		</tr>
		<tr>
			<td>Emily Way</td>
			<td class="middle-mark">6</td>
			<td class="good-mark">9</td>
			<td class="best-mark">10</td>
			<td class="low-mark">2</td>
			<td class="good-mark">45</td>
			<td class="good-mark">41</td>
			<td class="good-mark">86</td>
			<td class="good-mark">B</td>
		</tr>
	</table>
	<ul class="pagination">
		<li class="arrow-left-paginate"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#" class="active-paginate">3</a></li>
		<li><a href="#">...</a></li>
		<li><a href="#">10</a></li>
		<li class="arrow-right-paginate"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
	</ul>
</div>