<div class="meetings-first-blocks st-block-style">
	<div class="meetings-title-first">
		<div class="meetings-title-top">
			<div class="more-btn">
				<a href="#" class="open-popup" data-popup="more-icon-in-block-1"><img src="assets/img/icons/more.svg"></a>

				<!-- more-icon popup -->
				<div id="more-icon-in-block-1" class="popup more-icon-popup">
					<div class="popup-content">
						<ul class="icons-list">
							<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
							<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
							<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
						</ul>
					</div>
				</div>
				<!-- popup end -->
			</div>
			<h5>Mövzunun adı</h5>
			<p>It is a long established fact that a reader will be distracted by the redable content</p>	
		</div>
		<br>
		<div class="meetings-title-bottom">
			<img src="assets/img/icons/calendar.svg" alt="">
			<p>21.04.2016</p>
			<img src="assets/img/icons/clock.svg" alt="">
			<p>14.30</p>
			<div class="attachment-btn">
				<a href="#" class="open-popup icon-btn" data-popup="attachment121" title="yuklenen fayllar"><img src="assets/img/icons/paperclip.svg"></a>
				<!-- attachment popup -->
				<div id="attachment121" class="popup">
					<div class="popup-content">
						<ul class="attachment-list">
							<li><a href="#" class="simple-btn"><img src="assets/img/icons/paperclip.svg" alt="">Sənədin adı</a></li>
							<li><a href="#" class="simple-btn"><img src="assets/img/icons/paperclip.svg" alt="">Sənədin adı</a></li>
							<li><a href="#" class="simple-btn"><img src="assets/img/icons/paperclip.svg" alt="">Sənədin adı</a></li>
						</ul>
					</div>
				</div>
				<!-- popup end -->
			</div>
		</div>
	</div>
</div>
<div class="meetings-first-blocks st-block-style">
	<div class="meetings-title-first">
		<div class="meetings-title-top">
			<div class="more-btn">
				<a href="#" class="open-popup"><img src="assets/img/icons/more.svg"></a>

				<!-- more-icon popup -->
				<div class="popup more-icon-popup">
					<div class="popup-content">
						<ul class="icons-list">
							<li><a href="#" class="icon-btn" title="add"><img src="assets/img/icons/add-blue.svg"></a></li>
							<li><a href="#" class="icon-btn" title="edit"><img src="assets/img/icons/edit.svg"></a></li>
							<li><a href="#" class="icon-btn" title="delete"><img src="assets/img/icons/delete.svg"></a></li>
						</ul>
					</div>
				</div>
				<!-- popup end -->
			</div>
			<h5>Mövzunun adı</h5>
			<p>It is a long established fact that a reader will be distracted by the redable content</p>	
		</div>
		<br>
		<div class="meetings-title-bottom">
			<img src="assets/img/icons/calendar.svg" alt="">
			<p>21.04.2016</p>
			<img src="assets/img/icons/clock.svg" alt="">
			<p>14.30</p>
			<div class="attachment-btn">
				<a href="#" class="open-popup icon-btn" title="yuklenen fayllar"><img src="assets/img/icons/paperclip.svg"></a>
				<!-- App popup -->
				<div class="popup">
					<div class="popup-content">
						<ul class="attachment-list">
							<li><a href="#" class="simple-btn"><img src="assets/img/icons/paperclip.svg" alt="">Sənədin adı</a></li>
							<li><a href="#" class="simple-btn"><img src="assets/img/icons/paperclip.svg" alt="">Sənədin adı</a></li>
							<li><a href="#" class="simple-btn"><img src="assets/img/icons/paperclip.svg" alt="">Sənədin adı</a></li>
						</ul>
					</div>
				</div>
				<!-- popup end -->
			</div>
		</div>
	</div>
</div>