<div class="blocks-grid">
	<div class="grid-item">
		<div class="special-info">
			<ul>
				<li class="info-head">Umumi melumat</li>
				<hr class="har">
				<li>Telebe nomresi</li>
				<li class="second-text">{{teacher.id}}</li>
				<hr class="har">
				<li>Dogum tarixi</li>
				<li class="second-text">{{teacher.birthday | translate: currentLang }}</li>
				<hr class="har">
				<li>Cins</li>
				<li class="second-text">{{teacher.gender | translate: currentLang }}</li>
				<hr class="har">
				<li>Ictimai status</li>
				<li class="second-text">{{teacher.jobStatus | translate: currentLang }}</li>
				<hr class="har">
				<li>Ixtisas</li>
				<li class="second-text">{{teacher.profession | translate: currentLang }}}</li>
				<hr class="har">
				<li>Qebul oldugu bal</li>
				<li class="second-text">{{teacher.admissionScore | translate: currentLang }}</li>
			</ul>
		</div>
	</div>
	
	<div class="grid-item">
		<div class="family-info">
			<ul>
				<li class="info-head">Aile</li>

				<!--
				<div *ngFor="let parent of teacher.parents">
					<hr class="har"><div><img src="img/user1.png" alt="">
					</div>
					<li class="info-head-name"><p>{{parent.position}}</p><p>{{parent.name}}</p></li>
				</div>
				-->

				<hr class="har">
				<!-- no image available
				<div><img src="img/user1.png" alt=""></div>-->
				<li class="info-head-name"><p>Ata</p><p>Muxtarov Elvin</p></li>

				<hr class="har">
				<!-- no image available
				<div><img src="img/user1.png" alt=""></div>-->
				<li class="info-head-name"><p>Ana</p><p>Muxtarova Lamiye</p></li>
			</ul>
		</div>
	</div>
</div>