<div class="meetings-add-table st-block-style">
	<div class="meetings-add-top">
		<input type="text" placeholder="Movzunun adını qeyd edin" class="st-input">
		<div class="meetings-info-data">
			<p>12.12</p>
			<img src="assets/img/icons/clock.svg" alt="">
			<p>12.12.2012</p>
			<img src="assets/img/icons/calendar.svg" alt="">
		</div>
	</div>

	<div class="meetings-add-center">
		<input type="text" placeholder="Movzunun tesviri..." class="st-input">
	</div>

	<div class="meetings-add-bottom">
		<ul>
			<li>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, aspernatur. 
					<span>
						<img src="assets/img/icons/success.svg" alt="">
					</span>
					<span>
						<img src="img/cancel.svg" alt="">
					</span>
				</p>
			</li>
			<li>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, minima? 
					<span>
						<img src="assets/img/icons/success.svg" alt="">
					</span>
					<span>
						<img src="img/cancel.svg" alt="">
					</span>
				</p>
			</li>
			<li>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, atque.
					<span>
						<img src="assets/img/icons/success.svg" alt="">
					</span>
					<span>
						<img src="img/cancel.svg" alt="">
					</span>
				</p>
			</li>
			<li>
				<p>
					<span>
						<img src="assets/img/icons/add-blue.svg" alt="">
					</span>
					<input type="file">
				</p>
			</li>
		</ul>
		<div class="meetings-btm">
			<button class="danger-btn">imtina</button>
			<button class="rounded-btn">yaddasha ver</button>
		</div>
	</div>
</div>
