<div class="profile-main">
	<div class="profile-img"><img [src]="student.imgUrl" default="assets/images/user.png" alt=""></div>

	<div class="profile-text">
		<h4>{{student.name | translate: currentLang }}</h4>
		<h6>{{student.universityName | translate: currentLang }}</h6>
		<div class="grades">
			<span class="active-grades"></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<!-- wait for university to be loaded -->
		<h5 class="profile-university" *ngIf="university">{{university.name | translate: currentLang }}</h5>
		<h5 class="profile-fakulity">{{student.faculty | translate: currentLang }}</h5>
		<h5>{{student.status | translate: currentLang }}</h5>
	</div>
</div>

