<div class="bottom-section">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 side-bar">
			<ul class="side-btns st-block-style">
				<li>
					<a href="#" class="simple-btn active-btn" 
					(click)="goto('plan'); false"
					[class.active-btn]="
				currentState == 'plan'">Tedris plani</a>
				</li>
				<li>
					<a href="#" class="simple-btn" 
					(click)="goto('grades'); false"
					[class.active-btn]="
				currentState == 'grades'">Qiymet Kitabcasi</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
			<div *ngIf="currentState=='plan'">
				<student-plan-panel 
				[student]='student'
				[currentLang]="currentLang"></student-plan-panel>
			</div>
			<!-- not sure if this is needed?
			<div *ngIf="currentState=='grades'">
				<div class="user-filtration">
					<student-grade-filter ></student-grade-filter>
				</div>
			</div>-->
			<div class="blocks-grid">
				<student-grade-panel 
				[student]='student'
				[currentLang]="currentLang"></student-grade-panel>
			</div>
		</div>
	</div>
</div>
