<div class="content-header">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 structure-counter">
			<div class="structure-counter-img">
				<img src="assets/img/school.svg" alt="">
			</div>
			<div class="structure-counter-description">
				<p class="structure-counter-text">Umumi kafedralarin sayi</p>
				<h5 class="structure-counter-number">{{university.departmentCount}} kafedra</h5>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 structure-counter">
			<div class="structure-counter-img">
				<img src="assets/img/graduates.svg" alt="">
			</div>
			<div class="structure-counter-description">
				<p class="structure-counter-text">Umumi telebelerin sayi</p>
				<h5 class="structure-counter-number">{{university.studentCount}} telebe</h5>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 structure-counter">
			<div class="structure-counter-img">
				<img src="assets/img/presentation.svg" alt="">
			</div>
			<div class="structure-counter-description">
				<p class="structure-counter-text">Umumi muellimlerin sayi</p>
				<h5 class="structure-counter-number">{{university.teacherCount}} muellim</h5>
			</div>
		</div>
	</div><hr>
</div>