<div class="container">
	<div class="main-text-bottom st-block-style">
		<ul class="info-coint-ul">
			<li class="lessons-main-head"><h3>Km</h3></li>
			<li class="info-head">Fenn haqqinda melumat</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corporis minima facilis accusamus! Repellendus debitis aliquam quod distinctio itaque omnis error facilis, quis eaque tenetur. Quas provident tempore sapiente recusandae.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio obcaecati, consectetur dolor quidem vel, placeat recusandae praesentium dolores ea ipsum voluptatem facere ad odio nesciunt quisquam sint quasi. Tenetur, iste!</li>
		</ul>
	</div>

	<div class="lessons-info-table st-block-style">
		<ul>
			<li class="lesson-main-icon">
				<img src="img/desk.svg" alt="">
			</li>
			<li class="info-head">
				<p>Telimci</p>
				<p>Soyadi adi atasinin adi</p>
			</li>
			<li class="lesson-profile-img">
				<img src="img/user1.png" alt="">
			</li>
		</ul>
	</div>

	<div class="lessons-info-table st-block-style">
		<ul>
			<li class="lesson-main-icon">
				<img src="img/desk.svg" alt="">
			</li>
			<li class="info-head">
				<p>Telim dili</p>
				<p>Azerbaycan,ingilis</p>
			</li>
		</ul>
	</div>

	<div class="lessons-info-table st-block-style">
		<ul>
			<li class="lesson-main-icon">
				<img src="img/meeting.svg" alt="">
			</li>
			<li class="info-head">
				<p>Novbeti gorush</p>
				<p>21 aprel 2016</p>
			</li>
			<li class="info-head">
				<p>Movzunun ad</p>
				<p>JS functions and closures</p>
			</li>
			<li class="see-all-meetings"><a href="#" class="rounded-btn">butun gourshlere bax</a></li>
		</ul>
	</div>
</div>